*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body{
    font-family: Arial, sans-serif;
}

.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 196, 4);
}

.logotipo img{
    height: 50px;
    margin-left: 15px;
}

.navegacion{
    display: flex;
    gap: 15px;
    margin-right: 18px;
}

.navegacion a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.seccion-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.introduccion{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 30px;
    height: 90%;
}

.imagen img{
    width: 400px;
    height: auto;
    margin-left: 150px;
}

.introduccion h2{
    font-size: 5em;
    color: #000;
    text-transform: uppercase;
    width: 70%;
    margin-left: 200px;
}

.introduccion p{
    font-size: 1.2em;
    color: #181717;
    width: 40%;
    margin-left: 200px;
    font-weight: bolder;
}

.introduccion a{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 196, 4);
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 1px;
    margin-left: 200px;
    width: 20%;
}

.apartado{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(208, 218, 218);
    width: 80%;
    margin-top: 60px;
    margin-left: 200px;
    min-height: 500px;
    position: relative;  
    z-index: 2;           
    margin-bottom: -100px; 
    border-radius: 5px;   
    box-shadow: 0 30px 60px rgba(0,0,0,0.1); 
}

.contenido-combinado{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contenido-combinado h2{
    font-size: 3.2em;
    margin-left: 100px;
    margin-top: 10px;
    color: rgb(255, 196, 4);
    text-transform: uppercase;
    width: 60%;
}

.contenido-combinado p{
    font-size: 1em;
    color: #181717;
    width: 45%;
    margin-left: 100px;
    font-weight: bolder;
}

.contenido-combinado a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-left: 100px;
}

.graficos{
    display: flex;
    align-items: center;
    gap: 70px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.seccion-secundaria{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 196, 4);
    justify-content: space-between;
    margin-top: 0;
    min-height: 800px;
    position: relative;
    z-index: 1;
}

.contenido-central{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 160px;
    margin-top: 200px;
}

.contenido-central h2{
    font-size: 3.5em;
    color: #000;
    text-transform: uppercase;
    width: 100%;
}

.contenido-central p{
    font-size: 1em;
    color: #181717;
    width: 55%;
    font-weight: bolder;
}

.contenido-central a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 1px;
    width: 35%;
}

.imagen-secundaria{
    margin-right: 400px;
}

.imagen-secundaria img{
    width: 160%;
    height: auto;
    margin-top: 350px;
}

.seccion-terciaria {
    min-height: 900px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.porcion {
    background-color: rgb(208, 218, 218);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin-left: auto; 
    margin-right: auto; 
    padding: 40px; 
    border-radius: 10px; 
    box-shadow: 0 30px 60px rgba(0,0,0,0.1);
}

.porcion .imagen-terciaria img{
    height: 90%;
}

.contenido{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 50px;
    margin-top: 50px;
}

.contenido h2{
    font-size: 3.5em;
    color: rgb(255, 196, 4);
    text-transform: uppercase;
    width: 100%;
}

.contenido p{
    font-size: 1em;
    color: #181717;
    width: 75%;
    font-weight: bolder;
}

.contenido a{
    display: inline-block;
    padding: 10px 10px;
    background-color: #000;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 1px;
    width: 63%;
}

.contenido img{
    width: 50%;
    height: auto;
}

.seccion-nosotros{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #000;
    align-items: center;
    text-align: center;
    min-height: 950px;
}

.seccion-nosotros h2{
    margin-top: 20px;
    font-size: 3em;
    color: rgb(255, 196, 4);
    text-transform: uppercase;
    width: 100%;
}

.seccion-nosotros p{
    margin-top: 20px;
    font-size: 1em;
    color: #fff;
    width: 75%;
    font-weight: bolder;
}   

.seccion-nosotros img{
    margin-top: 20px;
    width: 70%;
    height: auto;
}

.seccion-nosotros a{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 196, 4);
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 1px;
    width: 20%;
    margin-top: 20px;
}

.equipo {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 90px;
    text-align: left;
    min-height: 950px;
    padding: 0 100px; 
    margin-left: 80px;
}

.imagen-equipo img {
    width: 500px;
    height: auto;
    margin-left: 0; 
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-left: 0; 
}

.texto h2{
    font-size: 3em;
    color: #000;
    text-transform: uppercase;
    width: 100%;
}

.texto p{
    font-size: 1em;
    color: #181717;
    width: 75%;
    font-weight: bolder;
}

.texto a{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 196, 4);
    color: #000;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 1px;
    width: 30%;
}

.seccion-gratuita{
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: rgb(208, 218, 218);
    min-height: 550px;
}

.texto-secundario{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 80px;
}

.texto-secundario h2{
    font-size: 5em;
    color: #000;
    text-transform: uppercase;
    width: 100%;
    margin-top: 60px;
}

.texto-secundario p{
    font-size: 1em;
    color: #181717;
    width: 75%;
    font-weight: bolder;
}

.texto-secundario a{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 196, 4);
    color: #000;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 1px;
    width: 30%;
}

.seccion-suscripcion {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.formulario {
    width: 70%;
    max-width: 800px;
    background-color: #000;
    color: #fff;
    padding: 60px;
    border-radius: 2px;
    margin-left: 90px;
}

.formulario h3{
    font-weight: lighter;
    margin-top: 30px;
}

.formulario h3, .formulario input,
.formulario textarea{
    margin-left: 40px;
}

.formulario input,
.formulario textarea {
    width: 70%;
    height: 40px;
    border: 2px solid white;
    padding: 10px;
    margin-top: 10px;
    font-size: 1em;
    background-color: #000;   
    color: white;             
}

.nombre-apellido{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nombre{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.apellido{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.texto-suscripcion {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 80px;
}

.texto-suscripcion h2{
    font-size: 3.5em;
    color: rgb(255, 196, 4);
    text-transform: uppercase;
    width: 100%;
}

.texto-suscripcion p{
    font-size: 1em;
    color: #181717;
    width: 75%;
    font-weight: bolder;
}

.texto-suscripcion a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 1px;
    width: 30%;
}

.mapa{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(255, 196, 4);
    align-items: center;
    text-align: center;
    min-height: 700px;
}

.mapa h2{
    font-size: 3.3em;
    color: #000;
    text-transform: uppercase;
    width: 100%;
    margin-top: 20px;
}

.mapa p{
    font-size: 1em;
    color: #181717;
    width: 75%;
    font-weight: bolder;
}

.mapa img{
    width: 70%;
    height: auto;
}

.mapa a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 1px;
    width: 15%;
    margin-top: 20px;
}

.pie-pagina{
    display: flex;
    flex-direction: column;
    gap: 45px;
    background-color: #000;
}

hr{
    width: 90%;
    color: #fff;
    margin-left: 60px;
}

.listas{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 20px;
}

.lista-enlaces, .lista-enlaces-secundaria{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 20px;
}

.lista-enlaces a, .lista-enlaces-secundaria a{
    color: rgb(255, 196, 4);
    text-decoration: none;
    font-weight: bold;
}

.final{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.derechos p{
    font-size: 1em;
    color: rgb(255, 196, 4);
    font-weight: bold;
}

.redes-sociales{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 180px;
}